<section class="py-5" style="background-color: #c0392b; color: white;">
   

  <div class="container">
    <div class="modal-body p-4 rounded-4 shadow-lg bg-white text-dark">
      <form id="yearForm" #form="ngForm" (submit)="submitForm(form)">
        <h4 class="text-center fw-bold mb-4">Sélection de l'année scolaire</h4>

        <div class="mb-4">
          <label for="schoolYear" class="form-label fw-semibold">Veuillez sélectionner une année scolaire :</label>
          <select
            class="form-select form-select-lg"
            id="schoolYear"
            name="anneeScolaire"
            [(ngModel)]="anneeScolaire"
            required
          >
            <option value="" disabled selected>-- Choisir une année --</option>
            <option value="2024-2025">2024-2025</option>
            <option value="2025-2026">2025-2026</option>
          </select>
        </div>

       <div class="d-flex flex-column flex-md-row gap-2 mt-4 justify-content-md-end">
  

  <button
    type="button"
    class="btn btn-outline-secondary px-4 w-100 w-md-auto"
    data-bs-dismiss="modal"
    (click)="onNoClick()"
  >
    Annuler
  </button>

  <button
    type="submit"
    class="btn btn-danger px-4 w-100 w-md-auto"
  >
    Valider
  </button>

</div>

      </form>
    </div>
  </div>
</section>
