.ecole-card {
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.ecole-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.header-red {
  background: linear-gradient(135deg, #b71c1c, #e53935);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-body {
  background-color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.recherche-fixe {
  position: sticky;
  top: 0;
  z-index: 1000;

  background: #fff; /* pour éviter transparence */
  padding-top: 10px;
}