<section class="container p-2 mb-lg-3 mb-md-3" style="font-family: 'Segoe UI', sans-serif;">
  <!-- Recherche -->
  <div class="recherche mb-4 recherche-fixe">
    <h1 class="fs-4  text-dark mb-3">Liste des écoles</h1>
    <input 
      type="text" 
      name="recherche" 
      [(ngModel)]="recherche" 
      placeholder="Recherche..." 
      class="form-control shadow-sm border-0">
  </div>

  <!-- Chargement -->
  <div class="d-flex justify-content-center mt-5" *ngIf="loading">
    <div class="spinner-border" style="color: #111;" role="status">
      <span class="visually-hidden">Chargement...</span>
    </div>
  </div>

  <!-- Liste des écoles -->
  <div class="row g-4" *ngIf="!loading">

  <div class="col-lg-4 col-md-6 col-12" *ngFor="let ecole of recherches">

    <div class="card ecole-card h-100 shadow-sm">

      <!-- Header rouge -->
      <div class="card-header header-red text-white border-0" (click)="infosEveles(ecole)">
        <h3 class="mb-1 fw-bold">
          {{ ecole.NomEtab }}  <small class="opacity-75" style="margin-left: 5px;">
        ({{ ecole.CodeEtab }} )
        </small>
        </h3>
        <!-- <small class="opacity-75">
          Code : {{ ecole.CodeEtab }}
        </small> -->
      </div>

      <!-- Body -->
      <div class="card-body"  (click)="infosEveles(ecole)">

        <div class="d-flex justify-content-between mb-3"(click)="infosEveles(ecole)" >
          <span>{{ ecole.Ville }}</span>
          <!-- <span class="fw-semibold">{{ ecole.Ville }}</span> -->
        </div>

        <button 
          class="btn btn-dark w-100 fw-semibold"
          (click)="infosEveles(ecole)"
          mat-button 
          mat-dialog-close
        >
          Sélectionner
        </button>

      </div>

    </div>

  </div>

</div>

</section>
